<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <title>Document</title>
</head>
<body>
<h1 style="text-align: center; margin: 50px 0">Studentu sarasas</h1>
<div class="container">
    <div class="card">
        <div class="card-block">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Vardas</th>
                    <th>Pavarde</th>
                    <th>El. pastas</th>
                    <th>Pazymiai</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="studentas: ${studentai}">
                    <td th:text="${studentas.Id}"></td>
                    <td th:text="${studentas.Vardas}"></td>
                    <td th:text="${studentas.Pavarde}">[name]</td>
                    <td th:text="${studentas.El_pastas}">[name]</td>
                <td>
                        <ul>
                            <li style="list-style: none" th:each="pazymys: ${studentas.Pazymys}">
                                <span th:text="${pazymys.Pazymys}">[name]</span>


                            </li>
                        </ul>
                    </td>

                </tr>

                </tbody>
            </table>
            <hr/>
        </div>


    </div>


</div>

</body>
</html>